@charset "utf-8";
	body,div,header,footer,label,hr,input,dl,dt,dd,nav,button,h1,h2,h3,h4,p,ul,li{
			margin: 0;
			padding: 0;
		}
	body{
		width: 100%;
		height: 100%;
		font-family: "微软雅黑";
		font-size: 0.24rem;/*让下面的继承*/
		background: #03b087;
	}
	a{
		text-decoration: none;
	}
	div,section,input,span,img{
		box-sizing: border-box;
	}
/*----头部-------------------------*/	
	@font-face {font-family: 'iconfont';
	    src: url('../iconfont2/iconfont.eot'); /* IE9*/
	    src: url('../iconfont2/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	    url('../iconfont2/iconfont.woff') format('woff'), /* chrome、firefox */
	    url('../iconfont2/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	    url('../iconfont2/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
	}
	.iconfont{
		font-family:"iconfont";
		font-size:.45rem;
		font-style:normal;
		color: white;
	}

	.loh{
		text-align: center;
		color: white;
		font-size: .28rem;
		background: rgba(0,0,0,.15);
		padding: .24rem;
		position: relative;
	}
	.back-home, .reg{
		position: absolute;
		color: white;
	}
	.back-home{
		top: .15rem;
		left: .2rem;
		font-size: .32rem;
	}
	.reg{
		top: .2rem;
		right: .2rem;
		padding:.05rem .1rem;
		border: 1px solid white;
		border-radius: .05rem;
		display: block;
		font-size: .2rem;
	}
/*----tab 部分-------------------------*/
	.reg-tabs{
		border-bottom: 1px solid hsla(0,0%,100%,.5);
		margin-top: .6rem;
		font-size: .26rem;
		color: white;
		overflow: hidden;
	}
	.reg-tab{
		width: 50%;
		padding: .24rem;
		float: left;
		text-align: center;
	}
	.tab-active{
		border-bottom: 2px solid white;
	}
/*----form表单 部分-------------------------*/
	.reg-forms{
		padding: .15rem .3rem;
	}
	.input-group{
		margin-top: .4rem;
		padding: .1rem;
		border-radius:.08rem;
		background: rgba(255,255,255,.2);
		color: white;
		width: 100%;
		overflow: hidden;
	}
	.reg-lab{
		display: block;
		width: 20%;
		float: left;
		text-align: center;
	}
	.lab-icf{
		font-size: .32rem;
		line-height: .46rem;
	}
	.reg-input{
		width: 80%;
		border: none;
		background: none;
		float: left;
		height: .55rem;
		font-size: .26rem;
		outline: none;
		color: white;
	}
	.reg-input::-webkit-input-placeholder { /* WebKit browsers */
		    color:white;
		    opacity: .5;
	}
	.reg-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color:white;
	   opacity: .5;
	}
	.reg-input::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color:white;
	   opacity: .5;
	}
	.reg-input:-ms-input-placeholder { /* Internet Explorer 10+ */
	   color:white;
	   opacity: .5;
	}
	
	.reg-lab2{
		font-size: .26rem;
		margin-top: .09rem;
	}
	.input-group-pic{
		width: 70%;
		float: left;
	}
	.reg-picpass{
		width: 25%;
		text-align: center;
		display: block;
		background: white;
		color: gray;
		padding: .2rem;
		margin: .41rem 0 0 .2rem;
		float: left;
	}
	.reg-btn2{
		margin-top: .72rem;
	}
	
	
	
	
	
	.forget-pass{
		text-align: right;
		margin: .2rem 0;
	}
	.forget-pass a{color: white;}
	.reg-btn{
		width: 100%;
		color: #03b087;
		background: white;
		border: none;
		padding: .2rem;
		font-size: .26rem;
		border-radius: .08rem;
	}
	.second-login{
		margin: .2rem 0;
		color: white;
		text-align: center;
		font-size: .26rem;
	}
	.second-login a{
		color: white;
		padding:0 .4rem;
	}
	.third-login{
		margin-top:1.5rem;
		text-align: center;
	}
	.third-login p{
		color: white;
		font-size: .26rem;
		margin-bottom:.2rem;
	}
	.third-login div{
		display: inline-block;
	}
	.third-icf-01{
		font-size: .88rem;
		line-height:.75rem;
		padding:0 .2rem;
	}
	.third-icf-02{
		font-size: .8rem;
		padding:0 .2rem;
	}
	






